<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Tailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/azdonorbertbrunner/0ab69424-98ea-453c-bf02-e6845caef682/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
    </packageSources>
</configuration>